<h1>Ember Quill</h1>

<h2>Quill Component</h2>

<Quill as |Ql|>
  <Ql.toolbar as |Tb|>
    <Tb.group>
      <Tb.bold />
      <Tb.italic />
      <Tb.underline />
    </Tb.group>
    <Tb.group>
      <Tb.align @values={{array}} />
      <Tb.list value="ordered" />
      <Tb.list value="bullet" />
    </Tb.group>
  </Ql.toolbar>

  <Ql.editor
    @focused={{true}}
    @placeholder="Tell us your story."
    @theme="snow"
  />

  <dl>
    <dt>Length</dt>
    <dd>{{dec Ql.length}}</dd>
    <dt>Words</dt>
    <dd>{{Ql.words}}</dd>
  </dl>
</Quill>

<h2>QuillEditor Component</h2>

<p>
  <button type="button" {{on "click" this.toggleEnabled}}>
    {{if this.enabled "Disable" "Enable"}}
  </button>
</p>

<QuillEditor
  @delta={{this.delta}}
  @enabled={{this.enabled}}
  @onContent={{this.setDelta}}
  @placeholder="My story will be written here."
  @theme="snow"
/>
