<h1>Ember Quill</h1>

<h2>QuillEditor</h2>

<p>
  <button type="button" {{on "click" this.toggleEnabled}}>
    {{if this.enabled "Disable" "Enable"}}
  </button>
</p>

<QuillEditor
  @delta={{this.delta}}
  @enabled={{this.enabled}}
  @focused={{true}}
  @onContent={{this.setDelta}}
  @onLength={{this.setLength}}
  @onText={{this.setText}}
  @placeholder="My story will be written here."
  @theme="snow"
/>

<p>Length: <strong>{{this.length}}</strong></p>

<h2>Quill</h2>

<Quill as |Ql|>
  <Ql.toolbar as |Tb|>
    <Tb.group>
      <Tb.bold />
      <Tb.italic />
    </Tb.group>
    <Tb.group>
      <Tb.script value="sub" />
      <Tb.script value="super" />
    </Tb.group>
  </Ql.toolbar>

  <Ql.editor @theme="snow" />
</Quill>
